{% extends 'base.html' %}

{% block style %}
body {font-family: Arial, Helvetica, sans-serif;}
{% endblock %}

{% block main %}

<div class="d-flex flex-wrap align-content-around m-5">


  <div class="card border-dark mx-auto" style="width:400px">
    <div class="card-body">
      <h4 class="card-title" id="title">Bill Details</h4>
      <p id="bid" class="card-text">Bill-id:</p>
      <p id="date" class="card-text">Date:</p>
      <p id="mode" class="card-text">Mode:</p>
      <p id="status" class="card-text">Status:</p>
      <br>

      <p id="rno" class="card-text">Room 1</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>

      <p id="rno" class="card-text">Room 2</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>
       <p id="amt" class="card-text">Total amount:</p>
    </div>
  </div>



  <div class="card border-dark mx-auto" style="width:400px">
    <div class="card-body">
      <h4 class="card-title" id="title">Bill Details</h4>
      <p id="bid" class="card-text">Bill-id:</p>
      <p id="date" class="card-text">Date:</p>
      <p id="mode" class="card-text">Mode:</p>
      <p id="status" class="card-text">Status:</p>
      <br>

      <p id="rno" class="card-text">Room 1</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>

      <p id="rno" class="card-text">Room 2</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>
       <p id="amt" class="card-text">Total amount:</p>
    </div>
  </div>




  <div class="card border-dark mx-auto" style="width:400px">
    <div class="card-body">
      <h4 class="card-title" id="title">Bill Details</h4>
      <p id="bid" class="card-text">Bill-id:</p>
      <p id="date" class="card-text">Date:</p>
      <p id="mode" class="card-text">Mode:</p>
      <p id="status" class="card-text">Status:</p>
      <br>

      <p id="rno" class="card-text">Room 1</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>

      <p id="rno" class="card-text">Room 2</p>
      <p id="cin" class="card-text">Check-in:</p>
      <p id="cout" class="card-text">Check-out:</p>
      <br>
       <p id="amt" class="card-text">Total amount:</p>
    </div>
  </div>



</div>

{% endblock %}

{% block script %}
{% endblock %}